body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313131;
    color: #f8f9fa;
    height: 482px;
}

.header > h3 {
    margin-top: 100px;
    border-bottom: 3px solid #b52e2c;
    font-size: 30px;
}

.header > a {
    padding: 10px;
    color: #f8f9fa;
    background-color: #b52e2c;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.card {
    margin: -100px auto;
    background-color: #fff;
    width: 50%;
    position: relative;
    z-index: 1;
    padding: 40px;
    box-shadow: 0 4px 10px 0 #525252;
    border-radius: 4px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-group > label {
    margin-bottom: 4px;
    font-weight: 500;
    color: #b52e2c;
    font-size: 16px;
}

.form-group > input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group >input:focus {
    outline: none;
    border: 1px solid #736a6a;
}

.form-group > select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
}

.form-group > textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    resize: vertical;
    min-height: 200px;
}

.form-group > textarea:focus {
    outline: none;
    border: 1px solid #736a6a;
}

form > button {
    width: 100%;
    padding: 12px;
    background-color: #dc3545;
    color: #f8f9fa;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form > button:hover {
    background: #e04555;
}