<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<div class="container">

     {%  with lista_de_mensagens = get_flashed_messages()  %}

        <ul class="list-unstyled">
            {% for mensagem in lista_de_mensagens %}
                <li class="alert alert-danger">{{mensagem}}</li>
            {% endfor %}

        </ul>

    {% endwith %}


    <h1>Faça seu login</h1>

    <form action="{{ url_for('autenticar')}}" method="post">
        <label for="usuario">Nome de usuário:</label>
        <input id="usuario" type="text" name="usuario" required class="form-control">

        <label for="senha">Senha:</label>
        <input id="senha" type="text" name="senha" required class="form-control">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>

</div>


</body>
</html>