<!--
   {#
    Tipos de delimitadores do Jinja2:

    {%  %} usado para inserir código python dentro do html
    {{  }} usado para exibir código python de saída dentro do html
    {#  #} usado para comentar código python

    #}
-->


<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">
</head>

<body>

<div class="container">

    <div class="page-header">
        <h1>{{titulo}}</h1>
    </div>

    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço Unitário</th>
            <th>Quant. Estoque</th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        {% for p in produtos %}

        <tr>
            <td>{{p.id}}</td>
            <td>{{p.descricao}}</td>
            <td>{{p.preco}}</td>
            <td>{{p.quantidade}}</td>
            <td>
                <a href="editar.html" >Editar</a>
                <a href="deletar.html" >Deletar</a>
            </td>
        </tr>

        {% endfor %}

        </tbody>

    </table>

    <a href="{{url_for('cadastrar')}}" class="btn btn-primary">Cadastrar</a>

</div>

</body>
</html>